main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    border-top: .5px solid var(--boarder-config);
    box-sizing: border-box;
}

.layout-view {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: auto;
}

.layout-cfg {
    border-left: .5px solid var(--boarder-config);
    flex: 0 340px;
    width: 340px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
}

.layout-cfg-main {
    flex: 1;
    padding: 16px;
}

.layout-cfg-btn {
    flex: 0 70px;
    position: relative;
}

.helpLinkBottom {
    position: absolute;
    top: 22px;
    left: 16px;
    font-size: 14px;
    color: rgb(20, 86, 240);
    text-decoration: none;
}

.confirmButton {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 38px;
    width: 100px;
}

.view {
    width: 100%;
    height: 100%;
}
.cfg-on .layout-cfg {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 340px;
    border-left: .5px solid var(--boarder-config);
    background: var(--cbgc);
    overflow: auto;
}

.cfg-on .layout-view {
    margin-right: 340px;
}
