main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    border-top: .5px solid var(--boarder-config);
    box-sizing: border-box;
}

.layout-view {
    position: relative;
    flex: 1;
    height: 100%;
}

.layout-cfg {
    border-left: .5px solid var(--boarder-config);
    flex: 0 340px;
    width: 340px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
}

.layout-cfg-main {
    flex: 1;
    padding: 16px;
}

.layout-cfg-btn {
    flex: 0 70px;
    position: relative;
}

.confirmButton {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 38px;
    width: 100px;
}

.view {
    width: 100%;
    height: 100%;
}