@import "reset-css";

// 更多tokens变量可以查看https://semi.design/zh-CN/basic/tokens

body[theme-mode="light"] {
    --bg-color: #fff;
    --cbgc: #fff;
    --bg-body: #fff;
    --divider: rgba(31, 35, 41, 0.15);
    --text: #000;
    --text-shallow: #333;
    --text-shallow-2: #666;
    --finished: #0cbb52;
    --overdueFinished: #ff8d1a;
    --overdueUnfinished: #d10505;
    --unfinished: #808080;
    --bg-finished: rgba(12, 187, 82, .1);
    --bg-overdueFinished: rgba(255, 141, 26, .1);
    --bg-overdueUnfinished: rgba(209, 5, 5, .1);
    --bg-unfinished: rgba(128, 128, 128, .1);
    --timeline: #CCCCCC;
    --datetime: #1F2329;
    --boarder-config: rgba(31, 35, 41, .15);
    --text-caption: #646a73;
}

body[theme-mode="dark"] {
    --bg-color: rgb(26, 26, 26);
    --cbgc: rgb(26, 26, 26);
    --bg-body: rgb(26, 26, 26);
    --divider: rgba(207, 207, 207, 0.15);
    --text: #FFF;
    --text-shallow: #CCC;
    --text-shallow-2: #999;
    --finished: #36e27b;
    --overdueFinished: #ff8d1a;
    --overdueUnfinished: #ff2c2c;
    --bg-finished: rgba(12, 187, 82, .1);
    --bg-overdueFinished: rgba(255, 141, 26, .1);
    --bg-overdueUnfinished: rgba(209, 5, 5, .1);
    --bg-unfinished: rgba(128, 128, 128, .1);
    --unfinished: #808080;
    --timeline: #CCCCCC;
    --datetime: #CCCCCC;
    --boarder-config: rgba(207, 207, 207, .15);
    --text-caption: #a6a6a6;
}

html,
body {
    position: relative;
    background: transparent !important;
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei, Arial, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic UI", "游ゴシック体", "Noto Sans Japanese", “Microsoft Jhenghei UI”, “Microsoft Yahei UI”, "ＭＳ Ｐゴシック", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

::-webkit-scrollbar {
    opacity: 0.5;
}
